# OpenSSH server template for Linux managed nodes (Ansible targets).
# Copied to /etc/ssh/sshd_config by ssh/assert_ssh_server.sh when it matches
# the installed file (or when --Config points here).

Port 22

ListenAddress 0.0.0.0
ListenAddress ::

PasswordAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile	%h/.ssh/authorized_keys .ssh/authorized_keys2

KbdInteractiveAuthentication no

UsePAM yes

X11Forwarding yes
PrintMotd no

TCPKeepAlive yes
ClientAliveInterval 300
ClientAliveCountMax 2

AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server
