apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-history
  namespace: spark
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-history
  template:
    metadata:
      labels:
        app: spark-history
    spec:
      serviceAccountName: spark
      containers:
        - name: spark-history
          image: "{{ spark_image }}:{{ spark_tag }}"
          imagePullPolicy: Always
          command: ["./entrypoint.sh", "history"]
          envFrom:
            - configMapRef:
                name: spark-configmap
          ports:
            - containerPort: 18080
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "2Gi"
          volumeMounts:
            - name: spark-events
              mountPath: /mnt/spark-events
      volumes:
        - name: spark-events
          hostPath:
            path: /mnt/spark-events
            type: DirectoryOrCreate
