apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  namespace: spark
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      serviceAccountName: spark
      containers:
        - name: spark-worker
          image: "{{ spark_image }}:{{ spark_tag }}"
          imagePullPolicy: Always
          command: ["./entrypoint.sh", "worker"]
          envFrom:
            - configMapRef:
                name: spark-configmap
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "2Gi"
          volumeMounts:
            - name: spark-events
              mountPath: /mnt/spark-events
      volumes:
        - name: spark-events
          hostPath:
            path: /mnt/spark-events
            type: DirectoryOrCreate
