apiVersion: v1
kind: Namespace
metadata:
  name: hdfs
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hadoop-config
  namespace: hdfs
data:
  core-site.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <configuration>
      <property>
        <name>fs.defaultFS</name>
        <value>{{ HDFS_DEFAULT_FS }}</value>
      </property>
    </configuration>
  hdfs-site.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <configuration>
      <property>
        <name>dfs.namenode.name.dir</name>
        <value>/hadoop/dfs/name</value>
      </property>
      <property>
        <name>dfs.datanode.data.dir</name>
        <value>/hadoop/dfs/data</value>
      </property>
      <property>
        <name>dfs.replication</name>
        <value>1</value>
      </property>
      <property>
        <name>dfs.permissions.enabled</name>
        <value>false</value>
      </property>
      <!-- Advertise the Service DNS; bind all interfaces (0.0.0.0 as rpc-address makes DataNodes try 0.0.0.0:9000). -->
      <property>
        <name>dfs.namenode.rpc-address</name>
        <value>hdfs-namenode.hdfs.svc.cluster.local:9000</value>
      </property>
      <property>
        <name>dfs.namenode.rpc-bind-host</name>
        <value>0.0.0.0</value>
      </property>
      <property>
        <name>dfs.namenode.http-address</name>
        <value>hdfs-namenode.hdfs.svc.cluster.local:9870</value>
      </property>
      <property>
        <name>dfs.namenode.http-bind-host</name>
        <value>0.0.0.0</value>
      </property>
    </configuration>
