logstash/logs 
.vs
**/__pycache__/
*.pyc
*.pyo
spark-events
# init-certs generates these files and directories from scratch.
certs/ca
certs/es01
certs/kibana
certs/ca.zip
certs/certs.zip
certs/grafana


# Data directories
docker/spark/data/*
spark/*
elasticsearch/outputs/*
elasticsearch/inputs/*

# Virtual Python Environments
ansible_venv/
