logstash/logs 
.vs
__pycache__
.pyc
spark-events
docker/elasticsearch/outputs/*
docker/elasticsearch/inputs/*
docker/spark/data/*
# init-certs generates these files and directories from scratch.
certs/ca
certs/es01
certs/kibana
certs/ca.zip
certs/certs.zip
certs/grafana
