{
  "schemaId": "builtin:anomaly-detection.metric-events",
  "scope": "environment",
  "value": {
    "enabled": true,
    "summary": "{{ dt_sn_cpu_metric_event_summary }}",
    "queryDefinition": {
      "type": "METRIC_KEY",
      "metricKey": "builtin:host.cpu.usage",
      "aggregation": "AVG",
      "entityFilter": {
        "dimensionKey": "dt.entity.host",
        "conditions": [
          {
            "type": "HOST_GROUP_NAME",
            "operator": "EQUALS",
            "value": "{{ dt_host_group_resolved }}"
          }
        ]
      },
      "dimensionFilter": []
    },
    "eventEntityDimensionKey": "dt.entity.host",
    "modelProperties": {
      "type": "STATIC_THRESHOLD",
      "threshold": 80.0,
      "alertOnNoData": false,
      "alertCondition": "ABOVE",
      "violatingSamples": 1,
      "samples": 3,
      "dealertingSamples": 3
    },
    "eventTemplate": {
      "title": "Host ({dims:dt.entity.host}) CPU above 80%",
      "description": "Host CPU usage in management zone {{ dt_management_zone_resolved }} exceeded 80%.",
      "eventType": "CUSTOM_ALERT",
      "davisMerge": false,
      "metadata": []
    }
  }
}
