{
  "schemaId": "builtin:anomaly-detection.services",
  "scope": "{{ dt_spark_hostgroup_entity_id }}",
  "value": {
    "responseTime": {
      "enabled": true,
      "detectionMode": "fixed",
      "fixedDetection": {
        "responseTimeAll": {
          "degradationMilliseconds": 2.0
        },
        "responseTimeSlowest": {
          "slowestDegradationMilliseconds": 5.0
        },
        "overAlertingProtection": {
          "requestsPerMinute": 3.0,
          "minutesAbnormalState": 1
        },
        "sensitivity": "high"
      }
    },
    "failureRate": {
      "enabled": true,
      "detectionMode": "fixed",
      "fixedDetection": {
        "threshold": 1.0,
        "overAlertingProtection": {
          "requestsPerMinute": 1.0,
          "minutesAbnormalState": 1
        },
        "sensitivity": "high"
      }
    },
    "loadDrops": { "enabled": false },
    "loadSpikes": { "enabled": false }
  }
}
