{
  "schemaId": "builtin:logmonitoring.custom-log-source-settings",
  "scope": "environment",
  "value": {
    "enabled": true,
    "config-item-title": "{{ dt_l2i_standalone_custom_source_name }}",
    "custom-log-source": {
      "type": "LOG_PATH_PATTERN",
      "values-and-enrichment": [
        {
          "path": "{{ dt_l2i_standalone_log_path_pattern }}",
          "enrichment": [
            { "type": "attribute", "key": "log.path", "value": "${0}" },
            { "type": "attribute", "key": "log.driver.instance", "value": "${1}" },
            { "type": "attribute", "key": "service_instance", "value": "{{ dt_l2i_standalone_service_instance }}" }
          ]
        },
        {
          "path": "{{ dt_l2i_standalone_log_path_pattern_rotated }}",
          "enrichment": [
            { "type": "attribute", "key": "log.path", "value": "${0}" },
            { "type": "attribute", "key": "log.driver.instance", "value": "${1}" },
            { "type": "attribute", "key": "service_instance", "value": "{{ dt_l2i_standalone_service_instance }}" }
          ]
        }
      ]
    }
  }
}
