[defaults]
inventory = inventory.yml
remote_user = gxbrooks
# For winrm, use the following:
# private_key_file = /home/gxbrooks/.winrm/ansible_client_private_key.pem
host_key_checking = False # set to True in production
remote_tmp = $HOME/.ansible/tmp

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60 -o ServerAliveCountMax=10 -o LogLevel=ERROR -o MaxSessions=10

[persistent_connection]
debug = True

[winrm]
connection = winrm
transport = certificate
# Ignore self-signed certs (replace with CA validation later)
server_cert_validation = ignore
