[defaults]

inventory = inventory.yml
remote_user = gxbrooks
host_key_checking = False # set to True in production
remote_tmp = $HOME/.ansible/tmp
roles_path = roles



[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60 -o ServerAliveCountMax=10 -o LogLevel=ERROR 

[persistent_connection]
debug = True
